@import '~scss/variables';

$border-width: 5px;
$color-invalid: $brand-success;
$color-valid: $brand-danger;

.false-active {
    /deep/
    .ui-selectbutton.ui-buttonset .ui-button.ui-state-active {
        background: $accent-medium;
        border-color: $accent-dark;
        color: $white;
    }
}

.clear {
    cursor: pointer;
}

:host {
    display: block;
    &.ng-invalid {
        border-left: none;
        p-selectButton {
            border-left: none;
            /deep/ .ui-button:first-child {
                border-left: $border-width $color-invalid solid;
            }
        }
    }
    
    &.ng-valid[required] {
        border-left: none;
        p-selectButton {
            border-left: none;
            /deep/ .ui-button:first-child {
                border-left: $border-width $color-valid solid;
            }
        }
    }
}

$same-with-si-and-no: 38px;
p-selectButton /deep/ .ui-button-text-only .ui-button-text {
    min-width: $same-with-si-and-no;
}