<div>
    <h2>
        <span jhiTranslate="rolManagement.home.title">Users</span>
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['/', { outlets: { popup: ['rol-management-nuevo'] } }]">
            <span class="fa fa-plus"></span> <span jhiTranslate="rolManagement.home.createLabel">Create a new User</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="roles">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="name"><span jhiTranslate="rolManagement.nombre">Login</span> <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="roles">
                <ng-container *ngFor="let rol of roles; ">
                    <tr>
                        <td><a [routerLink]="['../rol-management', rol.nombre]">{{rol.nombre}}</a></td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" [routerLink]="['../rol-management', rol.nombre]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                                <button type="submit" [routerLink]="['/', { outlets: { popup: 'rol-management/'+ rol.nombre + '/editar'} }]" replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                                <button type="submit" [routerLink]="['/', { outlets: { popup: 'rol-management/'+ rol.nombre + '/borrar'} }]" replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div *ngIf="roles">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>