<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRolLabel" jhiTranslate="rolManagement.home.createOrEditLabel">
            Create or edit a Rol</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rol.id">
            <label jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" [(ngModel)]="rol.id" readonly>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rolManagement.nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" #nombreInput="ngModel" [(ngModel)]="rol.nombre" required minlength="1"
                pattern="^[_A-Za-z0-9-]*$">

            <div *ngIf="nombreInput.dirty && nombreInput.invalid">
                <small class="form-text text-danger" *ngIf="nombreInput.errors.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label jhiTranslate="rolManagement.operaciones.operaciones">Profiles</label>
            <select [compareWith]="compareOperations" class="form-control" multiple name="operacion" [(ngModel)]="rol.operaciones">
                <option  *ngFor="let operacion of operaciones;trackBy:id" [ngValue]="operacion">{{operacion.accion}} - {{operacion.sujeto}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>