<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" *ngIf="!!rol">

    <h2 id="myRolLabel">
        <div>
            <button *ngIf="!isEditMode()" type="button" routerLink="/rol-management" class="btn btn-secondary btn-frameless" [attr.aria-label]="'entity.action.back' | translate">
                        <span class="fa fa-arrow-left"></span>
                    </button>
            <span *ngIf="!rol.nombre" jhiTranslate="rolManagement.home.createLabel">Crear rol</span>
            <span *ngIf="rol.nombre">
                        <span jhiTranslate="rolManagement.detail.title">Rol</span>
            </span>
        </div>
        <div>
            <button *ngIf="!isEditMode()" class="btn btn-secondary jh-create-entity" [routerLink]="['/rol-management', rol.nombre, 'editar']">
                        <span class="fa fa-pencil"></span> <span jhiTranslate="entity.action.edit">Edit</span>
                    </button>
            <button *ngIf="isEditMode()" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <span class="fa fa-floppy-o"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
            <button *ngIf="isEditMode()" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                        <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>
    <fieldset [disabled]="!isEditMode()">
        <div class="entity-fields">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="rolManagement.nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" #nombreInput="ngModel" [(ngModel)]="rol.nombre" required minlength="1"
                    pattern="^[_A-Za-z0-9-]*$">

                <div *ngIf="nombreInput.dirty && nombreInput.invalid">
                    <small class="form-text text-danger" *ngIf="nombreInput.errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label jhiTranslate="rolManagement.operaciones.operaciones">Profiles</label>

                <ac-autocomplete name="operacion" (completeMethod)="filterOperaciones($event)" [(ngModel)]="rol.operaciones" [suggestions]="operaciones"
                    [itemTemplate]="operacionItemTemplate"></ac-autocomplete>
            </div>
        </div>
    </fieldset>
</form>