<div class="entity-search">

    <div class="entity-search-field">
        <label for="titulo" jhiTranslate="arteApplicationTemplateApp.pelicula.titulo.label">titulo</label>
        <input class="form-control" [attr.aria-label]="'arteApplicationTemplateApp.pelicula.titulo.placeholder' | translate"
            placeholder="{{'arteApplicationTemplateApp.pelicula.titulo.placeholder' | translate}}" [(ngModel)]="filters.titulo"
            (keyup)="filter()" />
    </div>


    <div class="entity-search-field">
        <label for="fechaEstreno" jhiTranslate="arteApplicationTemplateApp.pelicula.fechaEstreno.label">fechaEstreno</label>
        <ac-calendar class="form-control" [(ngModel)]="filters.fechaEstreno" name="fechaEstreno" [placeholder]="'arteApplicationTemplateApp.pelicula.fechaEstreno.placeholder' | translate"
            (onSelect)="filter()" (keyup)="filter()"></ac-calendar>
    </div>


    <div class="entity-search-field">
        <label for="idioma" jhiTranslate="arteApplicationTemplateApp.pelicula.idiomaShort.label">idioma</label>
        <ac-autocomplete-short-list name="idioma" [multiple]="false" field="nombre" (onSelect)="filter()" (onUnselect)="filter()" [(ngModel)]="filters.idioma"
            [suggestions]="filters.allIdiomas" [itemTemplate]="idiomaItemTemplate" [propertiesToQuery]="['nombre']"
            [placeholder]="'arteApplicationTemplateApp.pelicula.idiomaShort.placeholder' | translate"></ac-autocomplete>
    </div>

    <div class="entity-search-field">
            <label for="idioma" jhiTranslate="arteApplicationTemplateApp.pelicula.idiomaLong.label">idioma</label>
            <ac-autocomplete-long-list name="idioma" [multiple]="false" field="nombre" (onSelect)="filter()" (onUnselect)="filter()" [(ngModel)]="filters.idioma"
                [suggestions]="filters.allIdiomas" [itemTemplate]="idiomaItemTemplate" (completeMethod)="completeMethodIdiomas($event)"
                [placeholder]="'arteApplicationTemplateApp.pelicula.idiomaLong.placeholder' | translate"></ac-autocomplete>
        </div>


    <div class="entity-search-field">
        <label for="categorias" jhiTranslate="arteApplicationTemplateApp.pelicula.categorias.label">categorias</label>
        <ac-autocomplete name="categorias" [multiple]="true" field="nombre" (onSelect)="filter()" (onUnselect)="filter()" [(ngModel)]="filters.categorias"
            [suggestions]="filters.allCategorias" [itemTemplate]="categoriaItemTemplate" [propertiesToQuery]="['nombre']"
            [placeholder]="'arteApplicationTemplateApp.pelicula.categorias.placeholder' | translate"></ac-autocomplete>
    </div>


    <div class="entity-search-field-btn">
        <button class="btn btn-default" (click)="resetFilters();">
            <i class="fa fa-times"></i>
            <span jhiTranslate="entity.action.filtersReset">Reset</span>
        </button>
    </div>
</div>
