<form name="editForm" role="form" novalidate #editForm="ngForm">
    <h2 id="myDemoLabel">
        <div>
            <button type="button" routerLink="/" class="btn btn-secondary btn-frameless back-arrow" [attr.aria-label]="'entity.action.back' | translate">
                        <span class="fa fa-arrow-left"></span>
                    </button>
            <i class="fa fa-fw fa-key" aria-hidden="true"></i>
            <span>
                <span >Demo</span>
            </span>
        </div>
        <div>
            <button class="btn btn-secondary jh-create-entity" (click)="toggleEditMode()" type="button">
                <span class="fa fa-pencil"></span>&nbsp;
                <span jhiTranslate="entity.action.edit"></span>
            </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>
    <fieldset [disabled]="!editMode">
        <div class="entity-fields">
            <div class="form-group">
                <label>Demo</label>
                <textarea class="form-control" [disabled]="!editMode" name="descripcion" id="descripcion" [(ngModel)]="texto"
                    required  autosize #displayContainer ></textarea>
            </div>
        </div>
    </fieldset>
</form>