# ===================================================================
# Spring Boot configuration for the "env" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
    mail:
        host: FILL_HOST
        port: FILL_PORT
        username: FILL_USER
        password: FILL_PASS

# ===================================================================
# JHipster specific properties
#
# Full reference is available at: https://jhipster.github.io/common-application-properties/
# ===================================================================

jhipster:
    mail:
        from: FILL_EMAIL
        base-url: http://FILL_APPLICATION_URL

# ===================================================================
# Application specific properties
# Add your own application properties here.
# ===================================================================
environment:
    edatos:
        configuration:
            db:
                driverName: FILL_ME
                url: FILL_ME
                username: FILL_ME
                password: FILL_ME

application:
    installation:
        type: FILL_INSTALLATION_TYPE # Required: Installation Type Context (EXTERNAL / INTERNAL)

# ===================================================================
# Application debug properties
#
# Uncomment if debug mode needed
# ===================================================================

# debug
