<div class="search">
    <div class="filters-wrapper">
        <div class="text">
            <input class="form-control" [attr.aria-label]="'userManagement.filters.name.placeholder' | translate" placeholder="{{'userManagement.filters.name.placeholder' | translate}}"
                [(ngModel)]="filters.name" (keyup)="filter()" />
            <span class="icon-search icon-flueco-icon-buscar"></span>
        </div>
    </div>
    <div class="">
        <span><input type="checkbox" [(ngModel)]="filters.includeDeleted" (change)="filter()"><span jhiTranslate="userManagement.home.includeDeleted">Include deleted</span></span>
        <button class="btn btn-default" (click)="resetFilters();">
        <i class="fa fa-times"></i> <span  jhiTranslate="entity.action.filtersReset">Reset</span>
    </button>
    </div>
</div>