<div class="entity-search operacion-search">

    <div class="entity-search-field">
        <label jhiTranslate="userManagement.filters.name.label"></label>
        <input class="form-control" [attr.aria-label]="'userManagement.filters.name.placeholder' | translate" placeholder="{{'userManagement.filters.name.placeholder' | translate}}"
            [(ngModel)]="filters.name" (keyup)="filter()" />
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="userManagement.home.includeDeleted"></label>
        <ac-tri-input-switch [(ngModel)]="filters.includeDeleted" (onChange)="filter()"></ac-tri-input-switch>
    </div>

    <div class="entity-search-field-btn">
        <button class="btn btn-default" (click)="resetFilters();">
            <i class="fa fa-times"></i>
            <span jhiTranslate="entity.action.filtersReset"></span>
        </button>
    </div>
</div>