<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="entity">
        <div class="modal-header">
            <h4 class="modal-title" id="myActorLabel">
                <span class="fa fa-tag"></span>
                <span *ngIf="!actor.id" jhiTranslate="arteApplicationTemplateApp.actor.home.createLabel"></span>
                <span *ngIf="actor.id">{{actor.normalizeName()}}</span>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <fieldset>
                    <div class="entity-fields">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.actor.genero.label" for="field_genero"></label>
                            <ac-autocomplete-enum name="genero" [(ngModel)]="actor.genero" [suggestionsEnum]="generoEnum" [translationPath]="'arteApplicationTemplateApp.actor.genero.'"></ac-autocomplete-enum>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.actor.nombre" for="field_nombre"></label>
                            <input type="text" class="form-control" name="nombre" id="field_nombre"
                                [(ngModel)]="actor.nombre" required acAutofocus />
                            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.actor.apellido1" for="field_apellido1"></label>
                            <input type="text" class="form-control" name="apellido1" id="field_apellido1"
                                [(ngModel)]="actor.apellido1" required />
                            <div [hidden]="!(editForm.controls.apellido1?.dirty && editForm.controls.apellido1?.invalid)">
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.apellido1?.errors?.required" jhiTranslate="entity.validation.required">
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.actor.apellido2" for="field_apellido2"></label>
                            <input type="text" class="form-control" name="apellido2" id="field_apellido2"
                                [(ngModel)]="actor.apellido2" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.actor.oscarizado" for="field_genero"></label>
                            <ac-tri-input-switch [(ngModel)]="actor.oscarizado" [required]="false" [ngModelOptions]="{ standalone: true }"
                                [nullable]="true" ></ac-tri-input-switch>
                        </div>
                    </div>
            </fieldset>

            <div *ngIf="peliculas" class="entity-fields">
                <h3 jhiTranslate="arteApplicationTemplateApp.actor.peliculas.title">Peliculas</h3>
                <ac-order-list name="peliculas" [(ngModel)]="peliculas" [suggestions]="peliculas"
                    [itemTemplate]="peliculaItemTemplate" [disabled]="true" [canReorder]="false">
                </ac-order-list>
            </div>

            <div *ngIf="actor.id" class="entity-fields">
                    <div class="form-group full-width">
                        <fieldset>
                            <ac-file-upload [title]="'arteApplicationTemplateApp.actor.documentos.label' | translate" [url]="resourceUrl" (onUpload)="onDocumentoUpload($event)"
                                accept="image/*" [files]="actor.documentos" [auto]="false" [limited]="3">
    
                                <ng-template let-file="file">
                                    <button type="button" class="btn btn-sm" [title]="'arteApplicationTemplateApp.documento.delete.title' | translate" (click)="deleteDocumento(file)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </ng-template>
    
                            </ac-file-upload>
                        </fieldset>
                    </div>       
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <ng-container *ngIf="!isDeleting">
                <div class="col-sm-6 text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                        <span class="fa fa-ban"></span>&nbsp;
                        <span jhiTranslate="entity.action.cancel"></span>
                    </button>
                    <ng-container *ngIf="actor.id" >
                        <button type="button" [disabled]="isSaving || !actor.id" class="btn btn-danger" (click)="toggleIsDeleting()">
                            <span class="fa fa-times"></span>&nbsp;
                            <span jhiTranslate="entity.action.delete"></span>
                        </button>
                    </ng-container>
                    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <span class="fa fa-save"></span>&nbsp;
                        <span jhiTranslate="entity.action.save"></span>
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="isDeleting">
                <div class="col-sm-6 text-center">
                    <span jhiTranslate="arteApplicationTemplateApp.actor.delete.question" translateValues="{nombre: '{{actor.normalizeName()}}'}"></span>
                </div>
                <div class="col-sm-6 text-right"> 
                    <button type="button" class="btn btn-success" (click)="confirmDelete(actor.id)">
                        <span class="fa fa-check"></span>&nbsp;
                        <span jhiTranslate="entity.action.confirm"></span>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="toggleIsDeleting()">
                        <span class="fa fa-ban"></span>&nbsp;
                        <span jhiTranslate="entity.action.cancel"></span>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</form>
