.ui-autocomplete {
    width: 100%;
    .ui-autocomplete-multiple-container {
        width: 100%;
        padding-right: 2em;
        .ui-autocomplete-token {
            padding-right: 2em;
        }
    }
    .ui-autocomplete-dropdown {
        position: absolute;
        right: 0;
    }
}

fieldset:disabled {
    .ui-autocomplete-multiple-container {
        border: none;
        cursor: none;
        pointer-events: none;
        background-color: transparent;
        .fa-close {
            display: none;
        }
        .ui-autocomplete-token-label {
            margin-right: .125em;
        }                       
    }
}
.ui-widget.form-control {
    padding: 0;
    border: none;
}

.ui-button-text-only .ui-button-text {
    padding: $input-padding-y $input-padding-x;
}