.ui-autocomplete {
    .ui-autocomplete-multiple-container {
        width: 100%;
        padding-right: 2em;
    }
    .ui-autocomplete-dropdown {
        position: absolute;
        right: 0;
    }
}

fieldset:disabled {
    .ui-widget {
        border: none;
        cursor: none;
        pointer-events: none;
        .fa-close {
            display: none;
        }
        .ui-autocomplete-token-label {
            margin-right: .125em;
        }                       
    }
}
.ui-widget.form-control {
    padding: 0;
    border: none;
}