.ui-autocomplete {
    width: 100%;
    .ui-autocomplete-multiple-container {
        width: 100%;
        padding-right: 2em;
        .ui-autocomplete-token {
            padding-right: 2em;
        }
    }
    .ui-autocomplete-dropdown {
        position: absolute;
        right: 0;
    }
}

.ui-listbox {
    width: 100%;
}

.ui-widget.form-control {
    padding: 0;
    border: none;
}

.ui-button-text-only .ui-button-text {
    padding: $input-padding-y $input-padding-x;
}