@import '~scss/variables';

.ui-autocomplete {
    width: 100%;
    .ui-autocomplete-multiple-container {
        width: 100%;
        padding-right: 2em;
        .ui-autocomplete-token {
            padding-right: 2em;
        }
    }
    .ui-autocomplete-dropdown {
        position: absolute;
        right: 0;
    }
    .ui-inputtext {
        padding: 2px $input-padding-x;
    }
}


.ui-listbox {
    width: 100%;
}

.ui-widget.form-control {
    padding: 0;
    border: none;
}

.ui-button-text-only .ui-button-text {
    padding: $input-padding-y $input-padding-x;
}

fieldset {
    .ui-state-default {
        border: none;
        &:hover {
            border-width: 0 0 2 * $border-width 0;
            border-style: solid;
            border-color: $grey-medium !important;
            margin-bottom: -2 * $border-width;
        }                
    }
    p-listbox {
        padding: $input-padding-y $input-padding-x;
        .ui-chkbox-box {
            background: none;
            border: $border-width solid $grey-medium;
    
            &:hover {
                border: $border-width solid $grey-medium;
                margin-bottom: 0;
            }
        }
        .ui-widget-header {
            .ui-chkbox-box {
                color: $grey-darkest;
            }
        }
    
        .disabled-mode.ui-listbox  {
            cursor: initial;
            pointer-events: none;
        }
    
        input.ui-inputtext {
            pointer-events: initial;
        }
    }
}

.ui-state-disabled:hover {
    border-bottom: none !important;
    margin-bottom: initial !important;
}


fieldset:disabled {
    .entity-fields .form-group {    
        .ui-state-default {
            pointer-events: none;
            cursor: initial;
            &:hover {
                border-bottom: none;
                margin-bottom: initial;
            } 
        }
        .ui-autocomplete {
            cursor: initial;
            .fa-close {
                display: none;
            }
            .ui-autocomplete-token {
                padding-right: .5em;
            }
            .ui-autocomplete-dropdown {
                display: none;
            }
        }
    }
}