@import '~scss/variables';

.ui-autocomplete {
    width: 100%;
    .ui-autocomplete-multiple-container {
        width: 100%;
        padding-right: 2em;
        .ui-autocomplete-token {
            padding-right: 2em;
        }
    }
    .ui-autocomplete-dropdown {
        position: absolute;
        right: 0;
    }
    .ui-inputtext {
        padding-left: $grid-gutter-width-base / 2;
        padding-right: $grid-gutter-width-base / 2;
    }
}


.ui-listbox {
    width: 100%;
}

.ui-widget.form-control {
    padding: 0;
    border: none;
}

.ui-button-text-only .ui-button-text {
    padding: $input-padding-y $input-padding-x;
}

.ui-state-default {
    border: none;
    &:hover {
        border-width: 0 0 2 * $border-width 0;
        border-style: solid;
        border-color: $grey-medium !important;
        margin-bottom: -2 * $border-width;
    }                
}

.ui-state-disabled:hover {
    border-bottom: none !important;
    margin-bottom: initial !important;
}

p-listbox {
    padding: 0.5rem 0.75rem;
}

p-listbox /deep/ {
    .ui-state-default {
        background: none;
        border: $border-width solid $grey-medium;

        &:hover {
            border: $border-width solid $grey-medium;
            margin-bottom: 0;
        }
    }

    .disabled-mode.ui-listbox  {
        cursor: initial;
        pointer-events: none;
    }

    input.ui-inputtext {
        pointer-events: initial;
    }
}

fieldset:disabled {
    .entity-fields .form-group {    
        .ui-state-default {
            pointer-events: none;
            cursor: initial;
            &:hover {
                border-bottom: none;
                margin-bottom: initial;
            } 
        }
        .ui-autocomplete {
            cursor: initial;
            .fa-close {
                display: none;
            }
            .ui-autocomplete-token {
                padding-right: .5em;
            }
            .ui-autocomplete-dropdown {
                display: none;
            }
        }
    }
}