@import '~scss/variables';
@import '~scss/mixins';
@import 'node_modules/bootstrap/scss/utilities/_position';

// Jhipster always generates the same layout. We can trust h2 is where is needed
h2 {
    display: flex;
    align-items: center;        
    justify-content: space-between;
    span {
        justify-content: unset;
    }
    line-height: $entity-header-height;

    background: $grey-lightest;        
    
    @include make-container();
    html & {
        @extend .fixed-top;
        z-index: $zindex-dropdown - 5; // Dont cover navbar dropdown
        margin-top: $navbar-height + ($navbar-padding-y)*2;
    }
}


fieldset {
    @include make-container();
    .entity-fields {    
        padding-top: $spacer-y;
        @include make-row();
        .entity-fields-col {
            @include make-col-ready();
            @include make-col(6);
        }
    }

    .form-group {
        .form-control:required {
            border-left: $border-width*5 solid $accent-dark;
        }
        .form-control:required.ng-valid, .ng-valid[required], .ng-valid.required  {
            border-left: $border-width*5 solid $brand-success;
        }        
        .ng-touched.ng-invalid:not(form),
        .ng-dirty.ng-invalid:not(form) {
            border-bottom: $border-width*2 solid $accent-medium;
        }            

        small.form-text.text-danger {
            position: absolute;
            font-size: 62%;
            margin-top: 0;
        }
    }    

    &:disabled {
        .form-control:disabled, .form-control[readonly] {
            background-color: transparent;
            border: none;
            border-bottom: $border-width solid $grey-light;
            cursor: default;
            @include appearance(none);
            option:disabled {
                color: red;
                background-color: blue;
            }
        }
    }
}

.entity-search {
    @include make-row();
    .entity-search-field {        
        @include make-col-ready();
        @include make-col(3);
        .form-group {
            display: flex;
        }
    }
}

.entity-list-empty {
    text-align: center;
    padding: $spacer-y 0;
    & > * {
        margin-top: $spacer-y;
    }
}