@import '~scss/variables';
@import '~scss/mixins';
@import 'node_modules/bootstrap/scss/utilities/_position';

$navbar-full-height: $navbar-height + ($navbar-padding-y)*2;
$zindex-fixed-navs: $zindex-dropdown - 5; // Dont cover navbar dropdown
$error-font-size: 0.8rem;
// Jhipster always generates the same layout. We can trust h2 is where is needed
h2 {
    display: flex;
    align-items: center;        
    justify-content: space-between;
    span {
        justify-content: unset;
    }
    line-height: $entity-header-height;

    background: $grey-lightest;        
    
    @include make-narrowed-container();
    html & {
        @extend .fixed-top;
        z-index: $zindex-fixed-navs;
        margin-top: $navbar-full-height;
    }
}

h3 {
    margin-top: 2 * $spacer-y;
    padding-bottom: 0;
    margin-bottom: $spacer-y;
}

fieldset {
    .entity-fields {    
        padding-top: $spacer-y;
        @include make-row();

        .form-group {
            
            @include make-col-ready();
            @include make-col(6);
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;      
            label {
                @include make-col-ready();
                @include make-col(4);  
                padding-left: 0 !important; 
            }
            .form-control {
                @include make-col-ready();
                @include make-col(8);      
                border: none;
                &:hover {
                    border-bottom: 2 * $border-width solid $grey-medium;
                    margin-bottom: -2 * $border-width;
                }
            }            
            ac-autocomplete {
                @include make-col(8);
            }
            p-listbox {
                @include make-col(8);
                padding-right: 0 !important;
                padding-left: 0 !important;
            }
            .ui-listbox {
                width: 100%;
            }

            .ui-state-default {
                border: none;
                &:hover {
                    border-bottom: 2 * $border-width solid $grey-medium;
                    margin-bottom: -2 * $border-width;
                }                
            }
            
            .entity-field-error {
                @include make-col-ready();
                padding-right: $grid-gutter-width-base !important;                
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: right;
                
                position: absolute !important;
                top: 100%;
                font-size: $error-font-size;
                
                small.form-text.text-danger {
                    font-size: $error-font-size;
                    display: inline;
                }
            }            

            &::after {
                content: '';
                border-bottom: $border-width solid $grey-light;  
                width: 100%;
            }
        }

        .jh-entity-details {            
            @include make-col-ready();
            @include make-col(6);
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;

            dt {
                @include make-col-ready();
                @include make-col(4);  
                padding-left: 0 !important; 
            }
            dd {
                @include make-col-ready();
                @include make-col(8);  
            }

            &::after {
                content: '';
                border-bottom: $border-width solid $grey-light;  
                width: 100%;
            }
        }
        
    }

    .form-group {
        .form-control:required {
            border-left: $border-width*5 solid $accent-dark;
        }
        .form-control:required.ng-valid, .ng-valid[required], .ng-valid.required  {
            border-left: $border-width*5 solid $brand-success;
        }        
        .ng-touched.ng-invalid:not(form),
        .ng-dirty.ng-invalid:not(form) {
            border-bottom: $border-width solid $accent-medium;
            &:hover {
                border-bottom: 2 * $border-width solid $accent-medium;
                margin-bottom: -$border-width;
            }
        }           
    }    

    .form-group {
        .form-control:disabled, .form-control[readonly] {
            background-color: transparent;
            border: none;
            cursor: default;
            @include appearance(none);
            &:required.ng-valid {
                border-left: none;
            }
            &:hover {
                border-bottom: none;
                margin-bottom: initial;
            }
        }    
    }    
}

$entity-search-field-btn-width: 200px;

    .entity-search {
        background: $grey-lightest;
        position: fixed;
        top: $entity-header-height + $navbar-full-height;  
        width: 100%;
        padding-right: $entity-search-field-btn-width;
        padding-left: $page-padding - $grid-gutter-width-base / 2;
        z-index: $zindex-fixed-navs;

        @include make-narrowed-row();
        .entity-search-field {        
            @include make-col-ready();
            @include make-col(3);
            .form-group {
                display: flex;
                margin-bottom: 0;
            }
            margin-bottom: $form-group-margin-bottom;
        }
        .entity-search-field-btn {
            position: absolute;
            right: 0;
            bottom: $form-group-margin-bottom;
            width: $entity-search-field-btn-width;
            text-align: right;
            margin-right: $page-padding;
        }
    }

    .entity-list-empty {
        text-align: center;
        padding: $spacer-y 0;
        & > * {
            margin-top: $spacer-y;
        }
        img {
            width: 200px;
        }
    }

.container-fluid {
    @include make-narrowed-container();
}