@import '~scss/variables';
@import '~scss/mixins';
@import 'node_modules/bootstrap/scss/utilities/_position';

$zindex-fixed-navs: $zindex-dropdown - 5; // Dont cover navbar dropdown
.entity-header {
    @include make-narrowed-container();
    html & {
        @extend .fixed-top;
        z-index: $zindex-fixed-navs;
    }
    margin-top: $navbar-height;
    box-shadow: $nav-shadow;
    background: $grey-lightest;    
    
    h2 {
        position: relative;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }
}
.has-entity-header {
    margin-top: -$entity-header-height;
}

$error-font-size: 0.8rem;
// Jhipster always generates the same layout. We can trust h2 is where is needed
h2 {
    display: flex;
    align-items: center;        
    justify-content: space-between;
    span {
        justify-content: unset;
    }
    line-height: $entity-header-height;

    background: $grey-lightest;        
    
    @include make-narrowed-container();
    html & {
        @extend .fixed-top;
        z-index: $zindex-fixed-navs;
        margin-top: $navbar-height;
    }
    box-shadow: $nav-shadow;

    $arrow-padding: 8px;
    .back-arrow {
        position: absolute;
        left: -$arrow-padding/3;
        padding: $arrow-padding*2 $arrow-padding $arrow-padding $arrow-padding;
        margin: auto;
        height: $entity-header-height;
        .fa {
            height: $page-padding - $arrow-padding * 2;
        }
    }

    // Buttons
    & > *:last-child {
        flex-shrink: 0;
        margin-left: $page-padding;        
    }
    // Title
    & > *:first-child {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        flex-shrink: unset;
        margin-left: 0;
    }
}

h3 {
    margin-top: 2 * $spacer-y;
    padding-bottom: 0;
    margin-bottom: $spacer-y;
}

fieldset {
    .entity-fields {    
        padding-top: $spacer-y;
        @include make-row();

        .form-group {
            &.full-width {
                @include make-col(12); 
                label {                    
                    @include make-col(2);            
                }
                .form-control {
                    @include make-col(10);  
                }
            }
            
            @include make-col-ready();
            @include make-col(6);
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;      
            label {
                @include make-col-ready();
                @include make-col(4);  
                padding-left: 0 !important; 
            }
            .form-control {
                @include make-col-ready();
                @include make-col(8);      
                border: none;
                &:hover {
                    border-bottom: 2 * $border-width solid $grey-medium;
                    margin-bottom: -2 * $border-width;
                }
            }            
            ac-autocomplete,
            p-listbox {
                @include make-col(8);
            }        
            
            .entity-field-error {
                @include make-col-ready();
                padding-right: $grid-gutter-width-base !important;                
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: right;
                
                position: absolute !important;
                top: 100%;
                right: 0;
                font-size: $error-font-size;
                
                small.form-text.text-danger {
                    font-size: $error-font-size;
                    display: inline;
                }
            }            

            &::after {
                content: '';
                border-bottom: $border-width solid $grey-light;  
                width: 100%;
            }
        }

        .jh-entity-details {            
            @include make-col-ready();
            @include make-col(6);
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;

            dt {
                @include make-col-ready();
                @include make-col(4);  
                padding-left: 0 !important; 
            }
            dd {
                @include make-col-ready();
                @include make-col(8);  
            }

            &::after {
                content: '';
                border-bottom: $border-width solid $grey-light;  
                width: 100%;
            }
        }
        
    }

    .form-group {
        .form-control:required {
            border-left: $border-width*5 solid $accent-dark;
        }
        .form-control:required.ng-valid, .ng-valid[required], .ng-valid.required  {
            border-left: $border-width*5 solid $brand-success;
        }        
        .ng-touched.ng-invalid:not(form),
        .ng-dirty.ng-invalid:not(form) {
            border-bottom: $border-width solid $accent-medium;
            &:hover {
                border-bottom: 2 * $border-width solid $accent-medium;
                margin-bottom: -$border-width;
            }
        }           
    }    

    .form-group {
        .form-control:disabled, 
        .form-control[disabled], 
        .form-control[readonly] {
            @extend %disabled-form-control;
        }    
    }   
    
    &:disabled,
    &[disabled] {
        .form-control {
            @extend %disabled-form-control;
        }
    }
    
    /* to set absolute position for :after content */
    position: relative;

    /* this will 'screen' all fieldset content from clicks */
    &[disabled]:after {    
        content: ' ';
        position: absolute;
        z-index: 1;
        top: 0; right: 0; bottom: 0; left: 0;
        /* i don't know... it was necessary to set background */
        background: url( data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==);
    }
}

$entity-search-field-btn-width: 200px;

.entity {
    &.has-menu {
        padding-left: $side-menu-width;
        h2 {
            left: $side-menu-width;
        }
    }
}

.entity-search {

    @include make-row();
    .entity-search-field {        
        @include make-col-ready();
        @include make-col(3);
        .form-group {
            display: flex;
            margin-bottom: 0;
        }
        @include placeholder {
            color: $grey-medium;
        } 
        margin-bottom: $form-group-margin-bottom;
    }
    .entity-search-field-btn {
        position: absolute;
        right: 0;
        bottom: $form-group-margin-bottom;
        width: $entity-search-field-btn-width;
        text-align: right;
        margin-right: $page-padding;
    }
}


.container-fluid {
    @include make-narrowed-container();
}

%disabled-form-control {
    background-color: transparent;
    border: none;
    cursor: default;
    @include appearance(none);
    &:required.ng-valid {
        border-left: none;
    }
    &:hover {
        border-bottom: none;
        margin-bottom: initial;
    }
}