<div class="entity-list-empty">
    <img src="~images/no-results.png" alt="No se han obtenido resultados que cumplan los criterios de búsqueda" [alt]="'entity.list.empty' | translate"
    />
    <div class="entity-list-empty-message">
        <div jhiTranslate="entity.list.empty">No se han obtenido resultados que cumplan los criterios de búsqueda</div>
        <ng-container *acHasAnyOperacion="operacionButton">
            <button *ngIf="buttonLink" class="btn btn-secondary jh-create-entity" (click)="createNewEntity()">
            <span class="fa fa-plus"></span> <span>{{buttonLabel}}</span>
            </button>
        </ng-container>
    </div>
</div>