<div class="entity-search">
    <div class="entity-search-field">
        <label for="titulo" jhiTranslate="computationalThread.filters.code.label"></label>
        <input
            class="form-control"
            [attr.aria-label]="'computationalThread.filters.code.placeholder' | translate"
            placeholder="{{'computationalThread.filters.code.placeholder' | translate}}"
            [(ngModel)]="filters.code"
            (keyup)="filter()"
        />
    </div>

    <div class="entity-search-field">
        <label for="name" jhiTranslate="computationalThread.filters.name.label"></label>
        <input
            class="form-control"
            [attr.aria-label]="'computationalThread.filters.name.placeholder' | translate"
            placeholder="{{'computationalThread.filters.name.placeholder' | translate}}"
            [(ngModel)]="filters.name"
            (keyup)="filter()"
        />
    </div>

    <div class="entity-search-field">
        <label for="statisticalOperation" jhiTranslate="computationalThread.filters.statisticalOperation.label"></label>
        <input
            class="form-control"
            [attr.aria-label]="'computationalThread.filters.statisticalOperation.placeholder' | translate"
            placeholder="{{'computationalThread.filters.statisticalOperation.placeholder' | translate}}"
            [(ngModel)]="filters.statisticalOperation"
            (keyup)="filter()"
        />
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="computationalThread.filters.lastExecution.label"></label>
        <ac-calendar class="form-control" [(ngModel)]="filters.lastExecution" (onSelect)="filter()"></ac-calendar>
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="coetlApp.execution.executionResult.label"></label>
        <ac-autocomplete-enum
            name="lastExecutionByResult"
            [(ngModel)]="filters.lastExecutionByResult"
            [suggestionsEnum]="resultExecutionEnum"
            [translationPath]="'computationalThread.filters.result.'"
            (onSelect)="filter()"
            (onUnselect)="filter()"
        ></ac-autocomplete-enum>
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="computationalThread.filters.includeDeleted"></label>
        <ac-tri-input-switch [(ngModel)]="filters.includeDeleted" (onChange)="filter()" [required]="true"></ac-tri-input-switch>
    </div>

    <div class="entity-search-field-btn">
        <button class="btn btn-default" (click)="resetFilters();">
            <i class="fa fa-times"></i>
            <span jhiTranslate="entity.action.filtersReset"></span>
        </button>
    </div>
</div>
