@import '~scss/variables';


/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: $grey-lightest;
    display: inline-block;
    vertical-align: text-bottom;
}

.collapse.show {
    .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }    
}
.jh-navbar {
    background-color: $main-dark;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: $main-dark;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        .nav-item {
            margin-left: 1.5rem;
            white-space: nowrap;
            &.active {
                background: $grey-dark;
            }
        }
    }
    a.nav-link {
        font-weight: $font-weight-normal;
        line-height: $navbar-height;
    }
    .jh-navbar-toggler {
        color: $grey-lightest;
        font-size: 1.5em;
        padding: $navbar-padding-y;
        vertical-align: middle;
        display: inline-block;
        &:hover {
            color: $white;
        }
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

#account-menu {    
    &.navbar-toggleable {
        align-items: unset;
    }
    .nav-link {    
        padding-right: 0.5em;
        padding-left: 0.5em;
        display: inline-block;
    }
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: $navbar-padding-y 15px;
        .logo-img {
            height: $navbar-height;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-cabildo.png") no-repeat center center;
            background-size: contain;
        }
    }
}
