@import '~variables.scss';

$navbar-height: 45px;
/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: $grey-light;
    display: inline-block;
    vertical-align: text-bottom;
}

.jh-navbar {
    background-color: $grey-darkest;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: $grey-darkest;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        .nav-item {
            margin-left: 1.5rem;
            &.active {
                background: $grey-dark;
            }
        }
    }
    a.nav-link {
        font-weight: 400;
        line-height: $navbar-height;
    }
    .jh-navbar-toggler {
        color: $grey-light;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: $navbar-height;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-cabildo.png") no-repeat center center;
            background-size: contain;
        }
    }
}
