
<div *ngIf="operacion">
    <h2><span jhiTranslate="secretariaLibroApp.operacion.detail.title">Operacion</span> {{operacion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="secretariaLibroApp.operacion.accion">Accion</span></dt>
        <dd>
            <span>{{operacion.accion}}</span>
        </dd>
        <dt><span jhiTranslate="secretariaLibroApp.operacion.sujeto">Sujeto</span></dt>
        <dd>
            <span>{{operacion.sujeto}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'operacion/'+ operacion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
