<div class="entity">
    <h2>
        <span jhiTranslate="secretariaLibroApp.operacion.home.title">operaciones</span>
    </h2>
    <jhi-alert></jhi-alert>
    <ac-operacion-search [filters]="filters"></ac-operacion-search>
    <ng-container *ngIf="!isEmptyList; else empty_list">
        <div class="table-responsive">
            <table class="table table-hover" acStickyTableHeader>
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="accion"><span jhiTranslate="secretariaLibroApp.operacion.accion">Accion</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="sujeto"><span jhiTranslate="secretariaLibroApp.operacion.sujeto">Sujeto</span> <span class="fa fa-sort"></span></th>
                        <th><span jhiTranslate="secretariaLibroApp.operacion.roles.roles">Roles</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let operacion of operaciones ;trackBy: trackId" [routerLink]="['../operacion', operacion.id ]">
                        <td>{{operacion.accion}}</td>
                        <td>{{operacion.sujeto}}</td>
                        <td>
                            <ng-container *ngFor="let rol of operacion.roles">
                                <span class="badge badge-info">{{rol}}</span>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </ng-container>
    <ng-template #empty_list>
        <div class="entity-list-empty">
            <ac-entity-list-empty *ngIf="isEmptyList"></ac-entity-list-empty>
        </div>
    </ng-template>
</div>