<p-autoComplete styleClass="form-control" [multiple]="true" [(ngModel)]="selectedSuggestions" [suggestions]="filteredSuggestions"
    (completeMethod)="onCompleteMethod($event)" [dropdown]="!debouncedMode" (onDropdownClick)="handleDropdownSuggestions($event)"
    (onFocus)="handleOnFocusSuggestions($event)" (onBlur)="handleOnFocusOutSuggestions($event)" [minLength]="minLength">
    <ng-template let-item pTemplate="item">
        {{itemTemplate(item)}}
    </ng-template>
    <ng-template let-item pTemplate="selectedItem">
        {{itemTemplate(item)}}
    </ng-template>
</p-autoComplete>