<p-autoComplete [multiple]="multiple" [(ngModel)]="selectedSuggestions" [suggestions]="filteredSuggestions" (completeMethod)="onCompleteMethod($event)"
    [dropdown]="!debouncedMode" (onDropdownClick)="handleDropdownSuggestions($event)" (onFocus)="handleOnFocusSuggestions($event)"
    (onBlur)="handleOnFocusOutSuggestions($event)" [minLength]="minLength" [emptyMessage]="emptyMessage" forceSelection="true"
    [field]="field">
    <ng-template let-item pTemplate="item">
        {{itemTemplate(item)}}
    </ng-template>
    <ng-template let-item pTemplate="selectedItem">
        {{itemTemplate(item)}}
    </ng-template>
</p-autoComplete>