@import '~scss/variables';

:host {
    border-radius: $border-radius;
}

:host[required] {
    border-left: $border-width*5 solid $accent-dark;
    &.ng-valid {
        border-left: $border-width*5 solid $brand-success;
    } 
    p-autoComplete {
        border-left: none;
    }
}

/deep/ {
    .ui-autocomplete-dd input.ui-corner-all ,
    .ui-autocomplete-dd .ui-autocomplete-multiple-container.ui-corner-all,
    .ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
         -moz-border-radius-topright: $border-radius; 
         -webkit-border-top-right-radius: $border-radius;
         border-top-right-radius: $border-radius;
         -moz-border-radius-bottomright: $border-radius;
         -webkit-border-bottom-right-radius: $border-radius;
         border-bottom-right-radius: $border-radius;
     }
}

fieldset:disabled {
    .entity-fields .form-group {
        :host {
            /deep/ .ui-autocomplete {
                cursor: initial;
                .fa-close {
                    display: none;
                }
                .ui-autocomplete-token {
                    padding-right: .5em;
                }
                .ui-autocomplete-dropdown {
                    display: none;
                }
            }
        }
    }
    :host[required] {
        border-left: none;
    }
}