@import '~scss/variables';

:host {
    border-radius: $border-radius;
}

:host[required] {
    border-left: $border-width*5 solid $accent-dark;
    &.ng-valid {
        border-left: $border-width*5 solid $brand-success;
    } 
    p-autoComplete {
        border-left: none;
    }
}

fieldset:disabled {
    .entity-fields .form-group {
        :host {
            /deep/ .ui-autocomplete {
                cursor: initial;
                .fa-close {
                    display: none;
                }
                .ui-autocomplete-token {
                    padding-right: .5em;
                }
                .ui-autocomplete-dropdown {
                    display: none;
                }
            }
        }
    }
    :host[required] {
        border-left: none;
    }
}