<p-autoComplete styleClass="form-control" [multiple]="true" [(ngModel)]="selectedSuggestions" [suggestions]="filteredSuggestions"
    (completeMethod)="searchSuggestions($event)" [dropdown]="true" (onDropdownClick)="handleDropdownSuggestions($event)" (onFocus)="handleOnFocusSuggestions($event)"
    (onBlur)="handleOnFocusOutSuggestions($event)">
    <ng-template let-item pTemplate="item">
        {{itemTemplate(item)}}
    </ng-template>
    <ng-template let-item pTemplate="selectedItem">
        {{itemTemplate(item)}}
    </ng-template>
</p-autoComplete>