@import 'global/jhipster';
@import 'global/bootstrap/ngbpagination';
@import 'global/bootstrap/tables';
@import 'global/bootstrap/buttons';
@import 'global/components/entity';
@import 'global/components/image-message';
@import 'global/primeng/primeng';