$white: white;
$black: black;
$grey-light: #e7e7e7;
$grey-medium: #DDDDDD;
$grey-dark: #5A616D;
$grey-darkest: #313949;
$main-light: #61A6E8;
$main-medium: #2C7BD0;
$accent-medium: #F94758;

$navbar-height: 45px;